*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik",sans-serif;
    letter-spacing: 0.4px;
}

body {
    background: linear-gradient(130deg, rgb(254, 134, 13), rgb(213, 38, 236)) fixed;
}

.title {
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    font-family: "Yellowtail";
}
.container {
    background: rgb(251, 255, 213);
    width: 500px;
    height: 600px;
    padding: 50px 40px;
    border-radius: 10px;
    position: absolute;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    top: 30%;
    left: 30%;
    bottom: 30%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;
}

.val {
    font-weight: 500;
    font-size: 18px;
}

.lbl {
    font-size: 20px;
    font-weight: 400;
}

.inputBox {
    background: transparent;
}

#billAmount, #customTipValue {
    background-color: transparent;
    border: solid;
    border-radius: 10px;
    outline: none;
    width: 200px;
    text-align: right;
    color: black;
    font-size: 25px;
    font-weight: 1000;
}

.tip_key {
    font-size: 18px;
    font-weight: 500;
    border: solid;
    border-radius: 10px;
    width: 90px;
    height: 50px;
    background: transparent;
    color:black;
}

.tip_key:hover {
    background-color: black;
    color: white;
    border: none;
}

.numPeopleSlider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: hsl(0, 0%, 0%);;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    align-self: center;
}

.numPeopleSlider:hover {
    opacity: 1;
}

.numPeopleSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #000000;
    cursor: pointer;
}

.numPeopleSlider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.amountPerPerson_output {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}

.resetBtn {
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border-width: 4px;
    border-style: solid;
    border-color: black;
    height: 50px;
    width: 200px;
    color: black;
    font-size: 20px;
    font-weight: 1000;
    background-color: rgb(255, 213, 179);
}